<title>{{ with .Title }}{{ . }} &ndash; {{end}}{{ .Site.Title }}</title>
{{ if .Params.description }}
<meta name="description" content="{{ .Params.description }}">
{{ else }}
{{ with .Site.Params.about }}<meta name="description" content="{{ .description }}">{{ end }}
{{ end }}

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8"/>
{{ if .Site.Params.noindex }}<meta name="robots" content="noindex" /> {{ end }}

{{ $options := (dict "transpiler" "dartsass" "outputStyle" "compressed")}}
<!-- risotto theme -->
{{ $style := resources.Get "styles/risotto.scss" | resources.ExecuteAsTemplate "styles/risotto.scss" . | resources.ToCSS $options | resources.Fingerprint "sha512" }}
<link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">
{{ if .Site.Params.rss }}<link rel="alternate" type="application/rss+xml" href="{{.Site.BaseURL }}/index.xml" title="{{ .Site.Title }}">{{ end }}
