/* About/bio section */
.about__logo {
    height: 1.5rem;
}

.about__title {
    display: inline;
    vertical-align: top;
    &::before {
        content: none;
    }
}

/* Social media links */
.aside__social-links {
    padding: 0;
    li {
        display: inline-block;
        &::marker {
            content: none;
        }
    }
}
