.page__logo {
    padding: 0;
    margin: 0;
    font-weight: inherit;
    color: var(--bg);
    &:before {
        content: none;
    }
    &-inner {
        display: block;
        background: var(--logo);
        opacity: 0.90;
        padding: 0.25rem;
    }
}

a.page__logo-inner {
    &:link, &:visited {
        color: inherit;
        text-decoration: inherit;
    }
    &:hover, &:active {
        opacity: 1;
    }
    &:before, &:after {
        color: var(--bg);
    }
    &:before {
        content: "[";
    }
    &:after {
        content: "] $";
    }
}
